<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laboratoriono5_6">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_champions"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_champions_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaboratorioNo56">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCuQIlaygXFTRVZhIRnJ0LxoOnwZ05jqh8" />

        <activity
            android:name=".View.activitySplashScreen"
            android:theme="@style/NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".View.activityCrearCuenta"
            android:exported="false"
            android:theme="@style/NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.activityLogin"/>
        </activity>
        <activity
            android:name=".View.activityLogin"
            android:exported="false"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".View.activityMenu"
            android:theme="@style/NoActionBar"
            android:exported="false"/>


        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>